{% extends 'base.html' %}
{% block title %}Admin · Users{% endblock %}
{% block content %}

<h2>User Management</h2>

{% if users %}
<table border="1" cellpadding="6">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Created</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for u in users %}
    <tr>
      <td>{{ u.id }}</td>
      <td>{{ u.email }}</td>
      <td>{{ 'Yes' if u.is_admin else 'No' }}</td>
      <td>{{ u.created_at.strftime('%d.%m.%Y %H:%M') }}</td>  <!-- https://stackoverflow.com/questions/60886978/python-how-to-customize-datetime-format-using-strftime -->
      <td>
        {% if not u.is_admin %}
          <form method="POST" action="{{ url_for('delete_user', user_id=u.id) }}" onsubmit="return confirm('Delete {{ u.email }}?');">
            <button type="submit">Delete</button>
          </form>
        {% else %}
          —
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No users found.</p>
{% endif %}

{% endblock %}
